{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <section>
        <div class="row">
            <div class="col-12">
                <div class="row macrame-info">
                    <div class="col-sm-12 col-lg-7">
                        <div class="macrame-text-description anim" data-delay="0.8s">
                            <p>Macrame is the art of typing knots and cords. It is fiber art where your creations will be the result of mixing different patterns and knots. There are several cords you can use to give shape to your creations, however they will be always 100% cotton following the natural textiles and being completely eco-friendly.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-5 text-center my-5 my-lg-0">
                        <a href="{% url 'products' %}?category=dream_catcher,macrame_bags,hangwall"
                            class="btn shop-now-button btn-lg anim" data-delay="1.3s">See
                            More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="">
        <div class="row text-center h-100 w-100 home-decor mx-auto">
            <div class="col-sm-12 col-lg-5 text-center my-5 my-lg-auto">
                <a href="{% url 'products' %}?category=coasters,macrame_bracaletsl"
                class="btn shop-now-button btn-lg anim" data-delay="1.3s">See
                More</a>
            </div>
            <div class="col-sm-12 col-lg-7 text-right">
                <div class="macrame-text-description anim" data-delay="0.5s">
                    <p class="text-brown">Don't waste the opportunity to bring some harmony and personality to your house. You will figure it out how to create your own cozy corner.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row h-100 mx-auto">
            <div class="col my-auto">
                <h1 class="display-6 logo-font text-brown text-center anim" data-delay='0s'>Don't miss anything! Find the perfect balance of nudes and neutral colours thanks to our products.</h1>
                <div class="my-5 text-center">
                    <h4>
                        <a href="{% url 'products' %}"
                            class="shop-now-button btn btn-lg rounded text-uppercase py-3 anim" data-delay='1s'>Shop
                            Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    const animations = document.querySelectorAll('.anim');

    observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.intersectionRatio > 0) {
                entry.target.style.animation = `anim1 2s ${entry.target.dataset.delay} forwards ease-out`;
                observer.unobserve(entry.target);
            }
            else {
                entry.target.style.animation = 'none';
            }
        });
    });

    animations.forEach(animation => {
        observer.observe(animation);
    });
</script>
{% endblock %}