html {
    height: 100%;
}

body {
    /* background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover; */
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Poppins';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
    transition: all .5s ease-in-out;
}

.main-logo-link:hover {
    letter-spacing: .5px;
}

.shop-now-button {
    background: #000;
    color: #f0490d;
    border: 1px solid #fff;
    min-width: 260px;
    position: relative;
    transition: .5s all ease-in-out;
}

.btn-orange {
    background: #f0490d;
    color: white;
    transition: all .5s ease-in-out;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    outline: 1px solid #f0490d;
    outline-offset: 2px;
    background-color: #f0490d;
    border: 1px solid #fff;
    color: #000;
}
.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
    background-color: #fff;
    color: #f0490d;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #000000 !important;
}

.border-orange {
    border: 1px solid #f0490d !important;
}

.text-orange {
    color: #f0490d !important;
}

.bg-black {
    background-color: #000 !important;
}

.mobile-nav-items {
    display: flex;
    width: calc(100% - 60px);
    justify-content: space-around;
    align-items: center;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}