<!-- Main Nav -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-brown mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-brown">By Price</a>
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item text-brown">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item text-brown">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-brown">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-brown mr-5" href="#" id="macrame-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Macrame
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="macrame-link">
                <a href="{% url 'products' %}?category=dream_catcher" class="dropdown-item text-brown">Dream Catcher</a>
                <a href="{% url 'products' %}?category=bags" class="dropdown-item text-brown">Bags</a>
                <a href="{% url 'products' %}?category=hangwall" class="dropdown-item text-brown">Woven Wall Hanging</a>
                <a href="{% url 'products' %}?category=dream_catcher,bags,hangwall" class="dropdown-item text-brown">All Macrame</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-brown mr-5" href="#" id="decore-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home Decor
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="decore-link">
                <a href="{% url 'products' %}?category=coasters" class="dropdown-item text-brown">Coasters</a>
                <a href="{% url 'products' %}?category=christmas" class="dropdown-item text-brown">Christmas</a>
                <a href="{% url 'products' %}?category=coasters,christmas" class="dropdown-item text-brown">All Decor</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-brown mr-5" href="#" id="gift-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                The Perfect Gift
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gift-link">
                <a href="{% url 'products' %}?category=new_born" class="dropdown-item text-brown">New Born</a>
                <a href="{% url 'products' %}?category=scrap_books" class="dropdown-item text-brown">Scrap Books</a>
                <a href="{% url 'products' %}?category=new_born,scrap_books" class="dropdown-item text-brown">All Gift</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-brown" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item text-brown">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item text-brown">Deals</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals" class="dropdown-item text-brown">All Specials</a>
            </div>
        </li>
    </ul>
</div>