
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-orange mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-orange">By Price</a>
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item text-orange">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item text-orange">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-orange">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-orange mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=dream_catcher" class="dropdown-item text-orange">Dream Catcher</a>
                <a href="{% url 'products' %}?category=macrame_bags" class="dropdown-item text-orange">Bags</a>
                <a href="{% url 'products' %}?category=hangwall" class="dropdown-item text-orange">Woven Wall Hanging</a>
                <a href="{% url 'products' %}?categpry=dream_catcher,macrame_bags,hangwall" class="dropdown-item text-orange">All Thing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-orange mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=coasters" class="dropdown-item text-orange">Coasters</a>
                <a href="{% url 'products' %}?category=macrame_bracalets" class="dropdown-item text-orange">Bracalets</a>
                <a href="{% url 'products' %}?category=coasters,macrame_bracalets" class="dropdown-item text-orange">All body</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-orange" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item text-orange">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item text-orange">Deals</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals" class="dropdown-item text-orange">All Specials</a>
            </div>
        </li>
    </ul>
</div>