{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid px-5">
        <div class="row text-center mt-3">
            <div class="col">
                <hr class="w-50 mb-1 mx-auto">
                <h2 class="logo-font text-brown">Products</h2>
                <hr class="w-50 mb-1 mx-auto">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rate_asc" {% if current_sorting == 'rate_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rate_desc" {% if current_sorting == 'rate_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small text-brown"><a class="text-brown" href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
            </div>
            <div class="row">
                {% for product in products  %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img src="{{ MEDIA_URL }}no-image.jpeg" alt="{{ product.name }}" class="card-img-top img-fluid">
                                </a>
                            {% endif %}
                            <div class="card-body">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                        {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                        {% endif %}
                                            <div class="rate-star my-2">
                                                <i class="fa fa-star fa-sm {% if product.rate_avarage > 0 %} checked {% endif %}"></i>
                                                <i class="fa fa-star fa-sm {% if product.rate_avarage > 1 %} checked {% endif %}"></i>
                                                <i class="fa fa-star fa-sm {% if product.rate_avarage > 2 %} checked {% endif %}"></i>
                                                <i class="fa fa-star fa-sm {% if product.rate_avarage > 3 %} checked {% endif %}"></i>
                                                <i class="fa fa-star fa-sm {% if product.rate_avarage > 4 %} checked {% endif %}"></i>
                                                <p class="text-muted"><strong>Rate:</strong> {{product.rate_avarage | floatformat:1}}</p>
                                            </div>
                                        {% if request.user.is_superuser %}
                                            <small class="ml-3">
                                                <a class="btn btn-sm btn-black" href="{% url 'edit_product' product.id %}">Edit</a>
                                                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-sm btn-outline-brown">Delete</button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog text-white">
                                                        <div class="modal-content bg-brown">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Some action will be made to: {{ product.name }}</h5>
                                                                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p class="my-auto small">Are you sure you want to delete {{ product.name }}</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-sm btn-black" data-bs-dismiss="modal">Close</button>
                                                                <a href="{% url 'delete_product' product.id %}" class="btn btn-outline-brown btn-sm">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </small>
                                            {% if request.user.is_authenticated %}
                                            <small>
                                                <a href="{% url 'add_to_wishlist' product.id %}" class="text-brown ml-3 text-decoration-none">
                                                    <span class="icon"><i class="far fa-heart fa-lg"></i></span>
                                                </a>
                                            </small>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                   {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
        </div>
        <div class="btt-button shadow-sm rounded border btn-black">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up mx-auto my-auto"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scroll(0,0)
        });
    </script>
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort", sort);
                currentUrl.searchParams.delete("direction", direction);

                window.location.replace(currentUrl);
            }
        });
    </script>
{% endblock %}